.header {
  /* position: fixed; */
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

.icon {
  margin: 0 2em 0 2em;
  width: 150px;
  height: 150px;
}
.header .topics {
  display: flex;
  list-style-type: none;
  /* justify-content: flex-end; */
}
.topics li {
  padding: 10%;
}
.btn-search{
  font-size: 0.7em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}
.fa-search{
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}


.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.header a:hover {
  background-color: #4b4952;
  color: black;
  font-weight: 800;
}

.header a.active {
  background-color: #04AA6D;
  color: white;
}

.header-right {
  margin: 8% 2% 0 0;
  float: right;
}

.header .link-icon:hover{
  background-color: black;
}
.search-bar{
  height:4vh;
  width: 18vw;
  padding: 1em 0.3em  1em 0.3em
}
